#headerContentImage{
    width: 20%;
    height: auto;
}

nav a:hover:active{
    transform: scale(2);
    transition: 100ms;
    background-color: #beb257;
}

.img_liste img{
    max-width: 100%;
    background-color: white;
    border-radius: 15px;
}

footer{
    padding-bottom: 2%;
}

footer p{
    margin-top: 1%;
    margin-bottom: 1%;
}


