
header{
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-flow: column wrap;
    width: 100%;
    height: auto;
    background-color: #000000;
    backdrop-filter: blur(0.1em);
    position: sticky;
    top: 0;
    z-index: 100;
    /* border-radius: 0px 0px 15px 15px; */
}

#photo{
    width: 15%;
    height: auto;
}

.img_liste img{
    max-width: 100%;
    background-color: white;
    border-radius: 15px;
}

footer{
    padding-bottom: 2%;
}

footer p{
    margin-top: 1%;
    margin-bottom: 1%;
}


