@font-face {
    font-family: "rubik";
    src: url("fonts/Rubik-Regular.ttf") format("truetype");
}

body, html{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'rubik';
}

html{
    background-color: #7e807d;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    background-position: center top;
    background-size: 125%;
    scroll-behavior: smooth;
}



header{
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-flow: column wrap;
    width: 100%;
    height: auto;
    background-color: #000000;
    backdrop-filter: blur(0.1em);
    position: sticky;
    top: 0;
    z-index: 100;
    /* border-radius: 0px 0px 15px 15px; */
}

#headerShrink{
    transition: 0.2s;
}

#photo_info{
    width: 100%;
    height: 70%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

#photo{
    width: 35%;
    border-radius: 100%;
    transition: 0.2s;
}

#photo img{
    width: 70%;
    border-radius: 100%;
    border-color: black;
    border-style: groove;
    margin: 5%;
}

#info{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: baseline;
    color: white;
    padding-right: 10%;
}

#contact{
    width: 30%;
    display: flex;
    flex-flow: column; 
}

#contact a img{
    width: 75%;
    transform: scale(0.8);
    transition: 220ms;
}

#contact a img:hover{
    transform: scale(1);
    transition: 330ms;
}

nav{
    width: 100%;
    background-color: #e5d76b;
    /* border-radius: 0px 0px 15px 15px; */
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    text-align: center;
    position: sticky;
    top: 0;
    backdrop-filter: blur(5px);
    z-index: 100;
}

nav ul{
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    width: 100%;
    list-style: none;
    padding: 0;
}

nav li{
    transition: 300ms;
}
nav li:hover{
    transform: scale(1.05);
    transition: 330ms;
}

nav a{
    font-size: small;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: white;
    transition: 220ms;
    text-transform: uppercase;
    padding-top: 1%;
    padding-bottom: 1%;
}

nav a:hover{
    transform: scale(1.2);
    transition: 330ms;
    cursor: pointer;
}

nav a:hover:active{
    transform: scale(2);
    transition: 500ms;
    background-color: #beb257;
}


.cvbuild{
    
    margin: 2%;

}

.zone{
    /* backdrop-filter: blur(25px); */
    margin-top: 1%;
    margin-bottom: 3.14%;
    padding: 5%;
    margin: 3%;
    padding-top: 2%;
    background-color:#e4dfd9;
    border-radius: 15px;
    z-index: 1;
}

.zone ul li{
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-position: unset;
}
.zone ul{
    margin: 0;
    padding: 0;

}

.orga_liste{
    display: flex;
    flex-flow: row;
    width: 100%;
    border-top-width: 1%;
    border-top-color: black;
    border-top-style: dotted;
}

.img_liste{
    display: flex;
    width: 20%;
    height: auto;
    align-items: center;
    justify-content: center;
    margin-right: 5%;

}
.img_liste img{
    max-width: 100%;
    background-color: white;
    border-radius: 15px;
}

.texte_liste{
    width: 80%;
}

h4{
    font-size: small;
}

#prog_lang{
    display: flex;
    align-items: center;
    
    flex-flow: row wrap;
}

#prog_lang img{
    width: 10%;
    margin-right: 2.5%;
    transition: 330ms;
}

#prog_lang img:hover{
    transform: rotate(360deg) scale(1.2);
    transition: 220ms;
}

h1{
    text-transform: uppercase;
    font-size: xx-large;
}

footer{
    background-color: #000000;
    width: 100%;
    color: white;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-around;
    align-content: flex-start;
    /* border-radius: 15px 15px 0px 0px; */
    padding-bottom: 5%;
    position: sticky;
    bottom: 0;
}

.footerContact, .footerDownload{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
}

footer a{
    text-decoration: none;
    color: #e5d76b;
    transition: 330ms;
}

footer a:hover{
    cursor: pointer;
    transform: scale(1.2);
    transition: 330ms;
}


* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: auto;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
